*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    text-align:center;
    background-color:#548687;
}

.msgcontainer{
    height:2rem;
}

.message{
    color:white;
    font-size:8vmin;
}

.hide{
    display:none;
}

h1{
   margin-top:2rem;
   margin-bottom:1rem;
}

.container{
    height:70vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:1rem;
}

.box{
    height:18vmin;
    width:18vmin;
    font-size:8vmin;
    color:#b0413e;
    background-color:white;
    border-radius:10px;
    border:none;
    box-shadow:0 0 1rem rgba(0,0,0,0.3);
}

.reset, .new{
    font-size:1rem;
    padding:1rem;
    background-color:black;
    color:white;
    border-radius:20px;

}